*{
    font-family: 'Baloo Chettan 2';
}

header{
    background-color: #2C3E50;
    display: block;
    height: 80px;
    color: white;

}

.title{
    margin-top: 5px;
    margin-left: 20px;
    float: left;
}


.logo{
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}


.parallax{
  background-image: url('./pexels-photo-325154.jpeg');

  height: 400px; 
  width: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
    justify-content: center;
    margin-top: 15px;
}

.col{
    justify-content: center;
    padding: 0px;
    margin-bottom: 15px;
}

.card{
    margin-left:8%;
}
.loading{
    width: 100%;
    text-align: center;
    display: block;
    color: white;
}

.searching{
    width: 100%;
    text-align: center;
    display: block;
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body{
    background-color: #2C3E50;
    background-image: url("asfalt-light.png");
    background-repeat: repeat;
}

#chart_div{
    display:flex;
    justify-content: center;
}

.jumbotron{
    background-color: white;
    text-align: center;
}

#myImg{
    height: auto;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.paginationDiv
{
    display:flex;
    justify-content: center;
}

